@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    height: 40px;

}

ul {
    list-style: none;
}

nav ul li {
    padding-top: 10px;
    float: right;
    margin-right: 4rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 60vh;
    margin-left: 40vh;
    margin-top: 15vh;
    background-color: transparent;
}

h2 {
    font-family: 'Big Shoulders Display';
    margin-bottom: -20px;
}

p,
button {
    font-family: 'Lexend Deca', sans-serif;
}

.firstrowflex {
    background-color: hsl(31, 77%, 52%);
    width: 25%;
    padding-top: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.firstrowflex h2 {
    color: hsl(0, 0%, 95%);
    text-align: left;
    font-size: 2em;
    padding: 1em;

    font-weight: 700;
}

.firstrowflex .firstext {
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 32px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 15px;
    line-height: 22px;
}

.firstrowflex button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    color: hsl(31, 77%, 52%);
    font-size: 1em;
    padding: 1rem;
    width: 150px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 34px;
}

.secondrowflex {
    padding-top: 30px;
    width: 25%;
    background-color: darkcyan;
}

.secondrowflex h2 {
    color: hsl(0, 0%, 95%);
    text-align: left;
    font-size: 2em;
    padding: 1em;
    font-weight: 700;
}

.secondrowflex .secondtext {
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 32px;
    width: 80%;
    font-size: 15px;
    line-height: 22px;

}

.secondrowflex button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    color: darkcyan;
    font-size: 1em;
    padding: 1rem;
    width: 150px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 34px;
}

.thirdrowflex {
    padding-top: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 100%, 13%);
    width: 25%;
}

.thirdrowflex h2 {
    color: hsl(0, 0%, 95%);
    text-align: left;
    font-size: 2em;
    padding: 1em;
    font-weight: 700;
}

.thirdrowflex .thirdtext {
    color: hsla(0, 0%, 100%, 0.75);
    padding-left: 32px;
    width: 80%;
    font-size: 15px;
    line-height: 22px;
}

.thirdrowflex button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    color: hsl(179, 100%, 13%);
    font-size: 1em;
    padding: 1rem;
    width: 150px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 34px;
    cursor: pointer;
}

button:hover {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

img {
    width: 20%;
    padding-left: 32px;
    margin-bottom: -20px;
    padding-top: 20px;
}